.contacts,
.instanceParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.instanceParent {
  width: 505px;
  flex-direction: row;
}
.contacts {
  background-color: var(--background);
  max-width: 100%;
  flex-direction: column;
  padding: var(--padding-13xl);
  box-sizing: border-box;
}
