.twitterIcon {
  width: 32px;
  height: 32px;
}
.elias,
.twitterIcon {
  position: relative;
}
.statehover {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-8xs);
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--white);
  font-family: var(--font-fira-code);
}
